<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>643907321331-4mr54otjdrk7g91fampj3asqmucbq7q3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643907321331-4mr54otjdrk7g91fampj3asqmucbq7q3</string>
	<key>API_KEY</key>
	<string>AIzaSyAkoBVDj2SfJkaeZ-z2-SWowhzIolPTQl8</string>
	<key>GCM_SENDER_ID</key>
	<string>643907321331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nsuarezcanton.Firechat</string>
	<key>PROJECT_ID</key>
	<string>firechat-7ffee</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-7ffee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:643907321331:ios:0d2fff5135a01b16</string>
	<key>DATABASE_URL</key>
	<string>https://firechat-7ffee.firebaseio.com</string>
</dict>
</plist>